node_modules
__pycache__
credentials.py
app.db-shm
app.db-wal
db_code.py
testapi.js
pcbs/controller/PI_actuatorcontroller-backups/
pcbs/sensor/PCBsensor-backups/
pcbs/controller/fp-info-cache
pcbs/sensor/fp-info-cache
/control-code/app.log
